<a href="https://colab.research.google.com/github/Wason1/Multum/blob/main/Multum_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multum 6
## Setting inital parameters

In [3]:
excel_file_path = r'\\whoffice\shared\EMR\BAU\Audit Spreadsheets\Multum audits\Multum Processing 6 - catalogue-Multum_Alignment.xlsx'

## Import Libraries and read excel file
### 5 mins 15 seconds

In [1]:
import pandas as pd
import numpy as np
import openpyxl as pyxl
import os
current_multum = pd.read_excel(excel_file_path, sheet_name=None)

In [12]:
current_multum['C2031'].head(2)

,Unnamed: 0,PRIMARY_DNUM,MULTUM_DNUM,DNUM_MATCH,IGNORE_DNUM_MAPPING,PRIMARY_MNEMONIC,PRIMARY_CATALOG_CD,SYNONYM_CNUM,IGNORE_CNUM_MAPPING,CNUM_COUNT,...,; synonym name correction (non-domain-specific),Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,.2
0,NaN,IGNORE,-,-,0.0,*** Blister Pack C & C,103045952.0,NaN,0.0,2865.0,...,; synonym name correction (non-domain-specific),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,IGNORE,-,-,0.0,*** Blister Pack Dosing,103046002.0,NaN,0.0,2865.0,...,; synonym name correction (non-domain-specific),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,